@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
    box-sizing: border-box;
    font-family: Raleway;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #91e3ff;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: #91e3ff;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: bolder;
    border-bottom: 1px solid rgba(0, 255, 255, 0.49);
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(0, 34, 255, 0.3);
}

.main-header {
    background-color: rgba(0,0,0,.4);
    background-image: url("navbar.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 2em;
}

.introduction {
    color: #91e3ff;
    text-align: center;
    padding-top: 1%;
    margin: 0;
    font-size: 3em;
    font-family: Monoton;
    font-weight: lighter;
}

.container {
    max-width: 56em;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: "Showcard Gothic";
    font-weight: lighter;
    text-align: center;
    color: #003aff;
    font-size: 1.5em;
}

.content-section.container p {
    font-weight: bold;
    color: #003aff;
}