@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
    box-sizing: border-box;
    font-family: Raleway;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #91e3ff;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: #91e3ff;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: bolder;
    border-bottom: 1px solid rgba(0, 255, 255, 0.49);
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(0, 34, 255, 0.3);
}

.main-header {
    background-color: rgba(0, 0, 0, .4);
    background-image: url("navbar.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 2em;
}

.introduction {
    color: #91e3ff;
    text-align: center;
    padding-top: 1%;
    margin: 0;
    font-size: 3em;
    font-family: Monoton;
    font-weight: lighter;
}

.container {
    max-width: 56em;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: "Showcard Gothic";
    font-weight: lighter;
    text-align: center;
    color: #003aff;
    font-size: 1.5em;
}

.content-section.container p {
    font-weight: bold;
    color: #003aff;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

form input {
    margin: 1em;
    border-radius: 0.25em;
    outline: none;
    box-sizing: border-box;
    background-color: #b3c7ff;
    border-color: dodgerblue;
    box-shadow: 0 0 0.5em 0 dodgerblue;
    text-align: center;
}

form textarea {
    border-radius: 0.25em;
    margin: 1em;
    outline: none;
    box-sizing: border-box;
    background-color: #b3c7ff;
    border-color: dodgerblue;
    box-shadow: 0 0 0.5em 0 dodgerblue;
    text-align: center;
}

form button {
    border-radius: 0.25em;
    margin: 1em;
    outline: none;
    box-sizing: border-box;
    background-color: #b3c7ff;
    border-color: dodgerblue;
    box-shadow: 0 0 0.5em 0 dodgerblue;
    text-align: center;
}

.baby-seal-image {
    background-blend-mode: multiply;
    background-size: cover;
    float: right;
    height: 200px;
    width: 190px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: rgb(0, 27, 121) 3px 3px 3px;
    background-image: url("seal.jpg");
    background-color: rgb(173, 199, 255);
}

.baby-seal-image:hover {
    animation: pulse 500ms infinite;
}

@keyframes pulse {

    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
    
}